<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Lillo\DemoArandanos.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>GESTIONPRODCAF</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Modelo13" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DemoArandanos.Modelo.Modelo, DemoArandanos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DemoArandanos.Properties.Settings.cadenaConexion" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DemoArandanos.Properties.Settings.cadenaConexion_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ArandanosConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ArandanosConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo2" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo3" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo4" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo5" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo5_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data Source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo6" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo6_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo10" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo10_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo7" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo7_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo8" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo8_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo9" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo9_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo11" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo11_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Modelo12" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.4.154,1433;Initial Catalog=GESTIONPRODCAF;Persist Security Info=True;User ID=GESTIONPRODCAF;Password=GESTIONPRODCAF;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Modelo12_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.4.154,1433;initial catalog=GESTIONPRODCAF;persist security info=True;user id=GESTIONPRODCAF;password=GESTIONPRODCAF;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ArandanosConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DemoArandanos.Properties.Settings.cadenaConexion-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo10-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo11-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo12-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo13-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo4-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo5-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo6-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo7-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo8-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Modelo9-Web.config Connection String" />
  </ItemGroup>
</Project>